{% load static %}
<footer class="footer-section">
  <div class="content-wrapper w-container">
    <div class="footer-form">
      <div
        class=""
        style="
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 50px;
        "
      >
        <div class="col-md-12" style="margin-bottom: 30px">
          <h4 class="title" style="color: white">
            <a href="/" class="">
              <img src="{% static 'img/logo.png' %}" width="100" alt="" />
            </a>
          </h4>
          <div class="red-line"></div>
          <br />
          <p style="color: white">
            We are one of the world's leading multi-asset alternative investment
            firm with approximately $649 billion in assets under management that
            creates lasting impact for our investors, teams, businesses and the
            communities in which we live. We pioneered a consulting-based
            approach to the asset management investing, partnering closely with
            management teams to offer the insights that challenge conventional
            thinking, build great businesses and improve operations. Over time,
            we have organically expanded this approach across asset classes to
            build one of the strongest alternative asset platforms in the world.
          </p>
        </div>
        <div class="col-md-3 col-3">
          <h4 class="title" style="color: white">Main Services</h4>
          <div class="red-line"></div>
          <br />
          <ul style="color: white">
            <li><a href="crypto">Cryptocurrency</a></li>
            <li><a href="real_estate">Real Estate</a></li>
            <li><a href="stocks">Stock</a></li>
            <li><a href="fixed_income">Fixed Income</a></li>
            <li><a href="multi_asset">Multi Assets</a></li>
          </ul>
        </div>
      </div>
      <div
        class=""
        style="display: flex; justify-content: space-between; width: 100%"
      >
        <div class="col-md-6">
          <h4 class="title" style="color: white">Useful Links</h4>
          <div class="red-line"></div>
          <br />
          <div style="display: flex">
            <div class="col-md-6">
              <ul style="color: white">
                <li><a href="about">About Us</a></li>
                <li>
                  <a href="responsibility">Corporate responsibility</a>
                </li>
                <li><a href="financial_planning">Planning services</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="login">FAQs</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="title" style="color: white">Contact Us</h4>
          <div class="red-line"></div>
          <br />
          <ul style="color: white">
            <li>+1 (347) 629-6097</li>
            <li>support@Assetradar.com</li>
            <li>Flat 28 Snowman House, Abbey Road, London, England, NW6 4DN</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-setion">
    <div class="content-wrapper w-container">
      <div class="footer-flex">
        <div class="footer-nav">
          <a href="about" class="footer-link">About Us</a>
          <a href="login" class="footer-link">Faq</a
          ><a href="blog" class="footer-link">Blog</a>
          <a href="contact" class="footer-link">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</footer>
